@page "/"

<PageTitle>Home</PageTitle>

<p>App converts a workout described in YAML into Garmin's .fit format, to be copied onto the device via USB MTP.</p>

<p>Goals:

<ul>
    <li>Free text exercises, no need to pick from a dropdown.  These appear verbatim on the device, and blank in Garmin Connect.</li>
    <li>Better search for Garmin's full set of exercises. Monaco language service has better fuzzy search than Garmin Connect.</li>
    <li>Text copy-paste editing is easier than Garmin's clunky UI</li>
    <li>Mix exercises from multiple workout types: mix strength w/yoga poses, stretches, no need to choose workout type.</li>
</ul>
</p>

